body{
	background-color: #3f5a73;
}
.container
{
	margin-top: 70px;

	margin-bottom: 70px;
}

.footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}

.btn-add, .btn-connect
{
	margin: 10px  0 10px 0;
}

h4 > p
{
	margin: 0;
}

.card
{
	background-color: #343A40;
	color: white;
	width: 48%;
}

.card.details, .card.comment
{
	width: 100%;
}

.card-title
{
	font-size: 30px;
	font-weight: bold;
}

textarea.form-control
{
	height: 120px;
}

.copyright
{
	color: #343A40;
	font-size: 20px;
	text-align: justify;
}

.comment-content
{
	margin-left: 10px;
}
