body{
	background-color: #3f5a73;
}
.container
{
	margin-top: 70px;

	margin-bottom: 70px;
}

.footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}

.btn-add, .btn-connect
{
	margin: 10px  0 10px 0;
}

h4 > p
{
	margin: 0;
}
