body{
	background-color: #3f5a73;
}

.text
{
	color: #9fe855;
	font-weight: bold;
}

.container
{
	margin-top: 70px;

	margin-bottom: 70px;
}

.footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}

.btn-add, .btn-connect
{
	margin: 10px  0 10px 0;
}

h4
{
	margin: 10px;
}

h4 > p
{
	margin: 0;
}

.card
{
	background-color: #343A40;
	color: white;
	width: 48%;
}

.card.details, .card.comment
{
	width: 100%;
}

.card-title
{
	margin: 10px;
	font-size: 30px;
	font-weight: bold;
	color: #9fe855;
}

a
{
	text-decoration: none !important;
}

textarea.form-control
{
	height: 120px;
}

.copyright
{
	color: #ffffff;
	font-size: 20px;
	text-align: justify;
}

.copyright > h1
{
	color: #9fe855;
	text-decoration: underline #9fe855;
}

p.comment-content , .deal > .card-text{
	margin-left: 20px;
}


.table, .navbar, .card
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btnDelete, .btnDelete:hover {
	background-color: #343a40;
	color: red;
}

